* {
  box-sizing: border-box;
}


body {
  background-color: rgb(167, 195, 223);
}

header {
  display: flex;
  flex-direction: row;
  background-color: bisque;
}

h1 {
  margin: auto;
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(167, 195, 223);
  text-shadow: 2px 2px black;
}

header img {
  width: 150px;
  height: 80px;
  align-content: flex-start;
}

main {
width: 1100px;
margin: auto;
display: grid;
grid-template-columns: 200px 300px 300px 300px;
grid-template-rows: 23rem 5rem 25rem;
}

#resultsList {
  background-color: lightcoral;
  grid-row-start: 1;
  grid-row-end: 4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
  font-weight: bolder;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

#resultsList ul {
  text-align: center;
  margin: 1rem;
}

#images {
  grid-column: 2/5;
  grid-row: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section img {
  width: 290px;
  height: 23rem;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid lightseagreen;
  cursor: pointer;
}

#results {
  grid-column: 2/5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: lightseagreen;
  width:max-content;
  height: max-content;
  padding: .5rem 1rem;
  color: lightcoral;
  text-shadow: 1px 1px black;
  margin: auto;
  border: 2px solid transparent;
}

#results:hover {
  border: 2px solid bisque;
  cursor: pointer;
}

#description {
  grid-column: 2/5;
  grid-row: 3/4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  /* background-color: bisque; */
  justify-content: center;
  height: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
